<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elmboot.mapper.CartMapper">
 <resultMap type="Cart" id="cartResultMap">
 <id column="cartId" property="cartId"/>
 <result column="foodId" property="foodId"/>
 <result column="businessId" property="businessId"/>
 <result column="userId" property="userId"/>
 <result column="quantity" property="quantity"/>
 <association property="food" javaType="Food"
 select="com.neusoft.elmboot.mapper.FoodMapper.getFoodById" column="foodId"/>
 <association property="business" javaType="Business"
 select="com.neusoft.elmboot.mapper.BusinessMapper.getBusinessById"
column="businessId"/>
 
 </resultMap>
 <select id="listCart" parameterType="Cart" resultMap="cartResultMap">
 select c.*,
        f.foodId as ffoodId,
        f.foodName as ffoodName,
        f.foodExplain as ffoodExplain,
        f.foodImg as ffoodImg,
        f.foodPrice as ffoodPrice,
        f.businessId as fbusinessId,
        f.remarks as fremarks,
        b.businessId as bbusinessId,
        b.businessName as bbusinessName,
        b.businessAddress as bbusinessAddress,
        b.businessExplain as bbusinessExplain,
        b.businessImg as bbusinessImg,
        b.orderTypeId as borderTypeId,
        b.starPrice as bstarPrice,
        b.deliveryPrice as bdeliveryPrice,
        b.remarks as bremarks
 from (cart c left join food f on c.foodId = f.foodId) left join business b on c.businessId = b.businessId
 <where>
 c.userId=#{userId}
 <if test="businessId!=null and businessId!=''">
 and c.businessId=#{businessId}
 </if>
 </where>
 order by cartId
 </select>
 
 <delete id="removeCart" parameterType="Cart">
 delete from cart 
 <where>
 userId=#{userId} and businessId=#{businessId}
 <if test="foodId!=null and foodId!=''">
 and foodId=#{foodId}
 </if>
 </where>
 </delete>
</mapper>